@import '~variables';

.Content {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding: $root__padding;
  width: calc(100vw - #{$sidebar__width--desktop});

  @include mediaMobileMax {
    width: 100vw;
  }
}
