@import '~variables.scss';

.Sidebar {
  background: $color--primary;
  color: white;
  height: 100%;
  padding: $root__padding;
  width: $sidebar__width--desktop;

  @include mediaMobileMax {
    height: auto;
    width: 100%;
  }
}
