@import '~variables';

.Search {
  width: 100%;
}

.Input {
  border: 0;
  border-bottom: 1px solid white;
  width: 100%;

  &:focus {
    outline: none;
  }

  @include mediaMobileMax {
    width: 100%;
    text-align: center;
  }
}
