@import '~variables';

.Detail {
  height: auto;
  padding: 1rem;
  width: 25%;

  .Large & {
    height: 9rem;
    // width: 50%;
  }
}
.Title {
  color: $color--secondary;
  font-size: 1.2rem;
  margin: 0;
  text-transform: uppercase;
}
.Value {
  font-size: 4rem;
  line-height: 4rem;
  margin: 0;

  .Large & {
    font-size: 6rem;
    font-weight: 500;
    line-height: 6rem;
    height: auto;
  }
}
.ValueSuffix {
  font-size: 1.6rem;
  font-weight: normal;
}
